@use 'variables' as v;

%properties {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    
    font-family: inherit;
    font-size: 1.6rem;
}

label {
    @extend %properties;
}


input {
    @extend %properties;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgrey;

    &:focus{
        border: 2px solid v.$color-bg-link-header;
    }

    outline: 0;
    
    &[type="submit"] {
        margin-top: 30px;
        background-color: v.$color-bg-link-header;
        color: white;
        width: 16%;
        position: absolute;
        left: 42%;
        cursor: pointer;
    }
}


textarea {
    @extend input;
    resize: none;
}



