@use 'mixins' as m;

.container {
    padding: 10px;

    @include m.md {
        width: 760px;
        margin: 0 auto;
    }

    @include m.lg {
        width: 1160px;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include m.md {
        flex-direction: row;
    }
}

.col {
    width: 100%;

    &-md50 {
        @include m.md {
            padding: 20px;
            flex: 0 0 50%;
        }
    }
    
    &-md33 {
        @include m.md {
            flex: 0 0 33.333333%;
        }
    }

    &-md25 {
        @include m.md {
            flex: 0 0 25%;
        }
    }

    &-lg50 {
        @include m.lg {
            padding: 20px;
            flex: 0 0 50%;
        }
    }

    &-lg33 {
        @include m.lg {
            flex: 0 0 33.333333%;
        }
    }

    &-lg25 {
        @include m.lg {
            flex: 0 0 25%;
        }
    }
}